body { 
    /* Vi tar bort margin och padding så det inte 
    blir några kanter runt hela sidan */
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    /* Vi sätter en backgrundsfärg och en text fär så
    sidan inte blir basic vit och svart */
    background-color: #212121;
    color: #7d7d7d;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh; /*för att flexboxen ska täcka hela skärmen*/
}

/* Här börjar header CSS */
header {
    height: 60px;
    width: 100%;
    
    /* From https://css.glass */
    background: rgba(24, 24, 24, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);

    position: fixed;
    z-index: 1000000;
}

nav {
    display: flex; /*Skapar en flexbox*/
    flex-direction: row; /*Allting i flexbaren läggs i en row*/
    justify-content: space-around; /*vi sprider ut dem inom containern och delar på utrymmet jämnt emellan alla*/
    height: 100%;
    align-items: center;

    list-style: none; /*vi tar bort punkterna från listan*/
    font-size: 30px;
}

nav li {
    width: 250px;
    text-align: center;
}

nav li a {
    /*vi går in i nav elementet, och sen in i li elementet
    för att ändra på de specifika a elementen*/
    text-decoration: none; /*vi tar bort länk färgen och understryckningen*/
    color: #FFFFFF;
}

a:hover {
    color: #aaaaaa;
}

.current-page {
    color: #aaaaaa;
}

/*Här börjar Main CSS*/
main {
    flex-grow: 1; /* default är 0, eftersom att main får 1
    tar den dubbelt så mycket space som alla andra items, 
    av den space:en som finns kvar*/

    padding-top: 60px;
}

.wipCenter { /*Den här är till att centrera "work in progress"
             på All Collections sidan*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-progress {
    /*Här skapar vi rutan på sidorna som jag inte är klara med*/
    border: 1px solid #7d7d7d;
    width: 350px;
    margin: auto;

    text-align: center;
}

.aboutBorder {
    /* css för rutan på About sidan*/
    border: 2px solid #7d7d7d;
    width: 40%;
    padding: 2%;
}

.bild-samling {
    /*Vi skapar en flexbox med alla bilder, 
    lägger dem i en row och centrerar alla*/
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; /*Ifall bilderna börjar gå utanför 
                skärmen läggs de på en ny rad istället*/
    justify-content: center;
}

.bild-samling div {
    /*Vi gör div:en mindre och lägger till ett mellanrum mellan dem*/
    width: 30%;
    height: auto; /*height ändras automatiskt beroende på width*/
    margin: 1%;
}

.bild-samling img {
    /* Vi gör så att bilderna tar all plats av diven */
    width: 100%;
    height: 100%;
    object-fit: cover; /*Bilderna ser bättre skalat ut, 
                       men lite av bilderna skärs bort*/
    transition: 0.5s; /*Alla transforms sker på 0.5 sekunder*/
}

img:hover {
    transform: scale(1.1);  /*När man håller musen ovanför
                            en bild ökar dens storlek med 1.1*/
}

    /*Text design in about page*/
section h1 {
    color: #aaa;
    margin-bottom: 2%;
    margin-top: 0;
}

section p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 2%;
}

.email {
    color: #aaa;
}